@{
    ViewData["Title"] = "About Joel";
}
<div class="text-center">
    <h1 class="display-4">Let's learn more about Joel</h1>
	<br />
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" height="500px" /></a>
    <br />
    <br />
    <h2>Joel is a silly guy who likes to do silly things including:</h2>
</div>
<div>
<ul>
        <li>
            <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> (where he performs regularly)
        </li>
        <li>
            <a href="https://baconsale.com/">Baconsale</a>
        </li>
</ul>
</div>